<md-toolbar class="navbar-container" layout="row" layout-align="center center" ng-controller="NavbarCtrl">
	<div class="container">
  	<!-- <md-button href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button> -->
	<section flex layout="row" layout-align="space-between center">
	  <section flex layout="row" layout-align="start center">
	    <a class="navbar-brand" href="https://logTank.com" >
	    	<img class="lime-top-logo" src="assets/images/greenLogo.png">
	    </a>
<!-- 	    <md-button href="#" class="md-raised">Home</md-button>
	    <md-button href="#" class="md-raised">About</md-button>
	    <md-button href="#" class="md-raised">Contact</md-button> -->
	  </section>
	  <section flex layout="row" layout-align="end center">
	  	<md-button href="#/login" class="md-raised">Log in</md-button>
		<md-button href="#/signup" class="md-raised">Sign up</md-button>
	  	<md-button ng-click="logout()" href="" class="md-raised" layout-align="right center">Logout</md-button>
	  </section>
	</section>

	<!--   <md-button href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button> -->
	</div>
</md-toolbar>
